*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    border: 4px black solid;
    padding: 50px 150px;
    margin: 24px 75px;
    height: 375px;
    display: flex;
    justify-content: center;
}

.row{
    width: 100%;
    max-width: 600px;
}

.title{
    border: 3px black solid;
    width: 100%;
    height: 24px;
    margin-bottom: 24px;
}

.box{
    height: 100px;
    width: 30%;
    border: 3px black solid;
    margin-bottom: 24px;
}

.box-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}